@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(10px) rotate(90deg);
    transform: translateY(10px) rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(180deg);
    transform: translateY(0px) rotate(180deg);
  }
  75% {
    -webkit-transform: translateY(-10px) rotate(270deg);
    transform: translateY(-10px) rotate(270deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
    transform: translateY(0px) rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(10px) rotate(90deg);
    transform: translateY(10px) rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(180deg);
    transform: translateY(0px) rotate(180deg);
  }
  75% {
    -webkit-transform: translateY(-10px) rotate(270deg);
    transform: translateY(-10px) rotate(270deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
    transform: translateY(0px) rotate(360deg);
  }
}

.rotation {
  -webkit-animation: rotation 0.2s ease-in infinite;
  animation: rotation 0.2s ease-in infinite;
}

:root {
  --color-bg: #000;
  --color-text: #fff;
  --color-border: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-width: 320px;
  max-width: 768px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  background-color: var(--color-bg);
  color: var(--color-text);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.header {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.content {
  width: 100%;
  box-sizing: border-box;
}

.section {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
}

.field {
  cursor: pointer;
  min-height: 282px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.menu {
  margin-top: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.div-cube-amount {
  flex-basis: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.div-cube-type {
  flex-basis: 120px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}
.div-cube-type_opened {
  display: flex;
}

.button {
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
}

.button_d {
  display: block;
  width: 30px;
  height: 30px;
}
.button__d4 {
  background-color: red;
}
.button__d6 {
  background-color: blue;
}
.button__d10 {
  background-color: green;
}
.button__d14 {
  background-color: orange;
}
.button__d20 {
  background-color: purple;
}

.footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.cube {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  font-size: 32px;
}

.popup {
  display: flex;
  overflow: hidden;
  height: 0;
  opacity: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(0, 0, 0, 1);
}
.popup_opened {
  height: 100vh;
  opacity: 1;
}
.popup__container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  width: 282px;
}
.popup__text {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
